.btn {
  border:none;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
  position: relative;
  transition: all 0.4s;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
  text-decoration: none;
  display: inline-block;
  margin-right: 50px;
}
.btn--green {
  background-color: #7ed56f;
  color: #fff;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.btn:after {
  content: "";
  display: inline-block;
  height:100%;
  width:100%;
  border-radius: 100px;
  position: absolute;
  top:0px;
  left:0px; 
  z-index: -1;
  transition: all 0.2s;
}
.btn--green:after {
  background-color: #7ed56f;
}
.btn--white:after {
  background-color: #fff;
}
.btn:hover:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  animation-name: moveInBottom;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: .75s;
  /* applying the styles of animation at 0% before animation starts */
  animation-fill-mode: backwards; 
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}